<template name="Login">
    {{#if currentUser}}
        {{> Admin }}
    {{else}}
        {{> LoginButtons}}
    {{/if}}
</template>

<template name="LoginButtons">
    <h3>Log in</h3>
    <form class="form-inline" id="loginform">
        <div class="form-group">
            <label class="sr-only" for="email">E-mail address</label>
            <input id="email" type="email" class="form-control"  placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input id="password" type="password" class="form-control"  placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        <button id="signin" type="submit" class="btn btn-default">Sign in</button>
    </form>
</template>

<template name="Admin">
    <h4>Welcome, {{currentUser.profile.name}}</h4>
    {{#if chosenViewIs 'BlogAdmin'}} {{>BlogAdmin}} {{/if}}
    {{#if chosenViewIs 'NewPost'}} {{>NewPost}} {{/if}}
    {{#if chosenViewIs 'UserAdministration'}} {{>UserAdministration}} {{/if}}
</template>

<template name="BlogAdmin">
    {{#each Blogposts}}
        <h3>{{title}}</h3>
        <h4>Written at {{time}} by {{author.profile.name}}</h4> <button id="deletePost">Delete this post</button>
        <p>{{{content}}}</p>
    {{/each}}
</template>


<template name="NewPost">
    <h3>Create new post</h3>
    <div class="form-group">
        <label for="title">Title: </label> <input type="text" id="title" value=""> <button id="save">Save post!</button> <br>

        <div id="content">
            {{> froalaReactive _onbeforeSave=doSave _value=myDoc.myHTMLField}}
        </div>
    </div>

</template>

<template name="UserAdministration">
    <h3>Delete a user</h3>
    {{#each User}}
        <p>
            {{profile.name}}
            {{roles}}<button id="delete">Delete</button>
        </p>
    {{/each}}
    {{> CreateUser}}
</template>

<template name="CreateUser">

    <h3>Add a new user</h3>
    Name: <input type="text" title="name" id="name"> <br>
    Email: <input type="email" title="email" id="email"> <br>
    Password: <input type="password" title="password" id="password"> <br>
    Roles: <input id="role-admin" type="checkbox" value="admin"> Admin
    <input id="role-author" type="checkbox" value="author"> Author
    <br>
    <button id="create">Create this user</button>

</template>