<template name='Menu'>
    <ul class="nav nav-pills">
        <li role="presentation" class="{{ activeIfTemplateIs '' }}">
            <a href="/">Blog</a>
        </li>

        <li role="presentation" class="{{ activeIfTemplateIs 'About' }}">
            <a href="{{pathFor 'about'}}">About</a>
        </li>

        <li role="presentation" class="{{ activeIfTemplateIs 'Login'}}">
            <a href="{{pathFor 'admin'}}">{{#if currentUser }} {{>AdminMenu }} {{else}} Log in {{/if}}</a>
        </li>
    </ul>

</template>

<template name="AdminMenu">
    <div class="btn-group">
        <button type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
            Administrative actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="BlogAdmin" href="#">Manage posts</a></li>
            <li><a id="NewPost" href="#">Create new post</a></li>
            <li><a id="UserAdministration" href="#">User administration</a></li>
            <li class="divider"></li>
            <li><a id="LogoutButton" href="#">Log out</a></li>
        </ul>
    </div>

</template>
